
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 30px 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin-top: 20px;
    color: #4CAF50;
}

ul {
    list-style: none;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}
.social-links {
  margin-top: 15px;
}

.social-links a {
  font-size: 30px;
  margin-right: 15px;
  color: #333;
  text-decoration: none;
}

.social-links a:hover {
  color: #25D366; /* WhatsApp green */
}
