body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

/* HERO */
.hero {
    padding: 60px 20px;
    background: #111827;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #38bdf8;
}

.socials a {
    color: white;
    font-size: 24px;
    margin: 10px;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

footer {
    padding: 20px;
    background: #111827;
}
